body{
    background-color: black;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50;
}
p{
    color: white;
}
#member-list{
    color: white;
    list-style-type: circle;
    
}

.member{
    padding-left: 0px;
}


#members{
    padding-left: 22px;
}

.text{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    background-color: grey;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111111;
}